@tailwind base;
@tailwind components;
@tailwind utilities;


  .card {
    background-color: white;
    border-radius: 0.5rem;
    padding: 6;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    border: 1px solid #a6a7a8;
  }
.text-padding {
  padding: 0.5rem;
}